/*
.main-text{
    color: springgreen;
    background-color: black;
}
#bb{
    background-color: darkkhaki;
}
*{
    font-size: 25px;
}
p[id]{
    font-size: 10px;
}
!*a[href]{
    color: olivedrab;
}*!
a[href$="/java"]{
    color: red;
}
a[href^="http"]{
    color: olivedrab;
}
a[href^='https']{
    color:coral;
}
a[href*='image']{
    color: yellowgreen;
}
input[type="text"]{
    background-color:  green;
}
ul>li:first-child{
    font-size: 22px;
    color: cadetblue;
}
li:nth-child(3){
    font-size: 22px;
    color: cadetblue;
}
.sub-p{
    font-weight: bolder;
}
.sub-u{
    text-decoration: underline;

}
.box{
    height: 1000px;
    width: 1000px;
    background-color: darkred;
    border-radius: 50%;
    border: 10px solid greenyellow;
}
.box:hover{
    background-color: #fff;
}*/

#div1{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;

    top: 0;
    left: 0;
    border-radius: 0 0 100% 0 ;

}
#div2{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;

    top: 0;
    right: 0;
    border-radius: 0 0 0 100%  ;

}
#div3{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;

    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0 ;

}
#div4{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;

    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0 ;

}
main{
    height: 100%;
    width: 100%;
    position: absolute;
}
#divMain{
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 300px;
}
#section1{
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: #ff0101;
}#section2{
    height: 50%;
    width: 50%;
    left: 50%;
    position: absolute;
    background-color: #008001;
}#section3{
    height: 50%;
    width: 50%;
    top: 50%;
    position: absolute;
    background-color: #ffa801;
}#section4{
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #ff1494;
}
 #divCircle1{
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 200px;
     height: 200px;
     position: absolute;
     background-color: white;
     border-radius: 50% 50% 50% 50%;
 }
#divCircle2{
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 200px;
     height: 200px;
     position: absolute;
     background-color: white;
     border-radius: 50%;
 }
#divCircle3{
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 200px;
     height: 200px;
     position: absolute;
     background-color: white;
     border-radius: 50% 50% 50% 50%;
 }
#divCircle4{
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 200px;
     height: 200px;
     position: absolute;
     background-color: white;
     border-radius: 50% 50% 50% 50%;
 }
#rec1{
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#rec2{
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#rec3{
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#rec4{
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#mainCircle{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: red;
    border-radius: 50% 50% 50% 50%;
}